.nm_minajesty_11155 {
    // border: 2px solid #ff00ff;

    // background: #000000;
    // background-image: url(./images/CR_11155_MINAJESTY_2014_US_DIGITAL_300x600_walgreens.jpg);
    // background-size: contain;

    // .bannerImg  {
    //     // border: 2px inset #00ff00;
    //     // border: 20px inset #00ff00;

    //     // width: inherit;
    //     // height: inherit;

    //     opacity: 0.5;

    //     // margin: 0;
    //     // padding: 0;

    //     // position: absolute;

    //     // img {
    //     //     margin: 0;
    //     //     padding: 0;
    //     // }
    // }

    .logo_NM_Minajesty {
    // .logo_NM_Minajesty_base, .logo_NM_Minajesty_ds {
    // border: 2px solid #ff00ff;

        mix-blend-mode: overlay;

        // position: relative;

        // image {
        //     color: #ffffff;
        //     fill: #ffffff;
        // }
    }

    .cta {
        // border: 2px solid #ff00ff;

        width: 140px;
        height: 20px;

        margin: 0 auto;
        padding: 0;

        // position: absolute;
    }
}
