.bsps_26897 {
    border: 1px inset #ee70bc;

    // background: #000000;
    // background-image: url(./images/Xframes/26897_BS_PRIVATE_SHOW_GWP_PR_Walgreens_300x250_retina_03.jpg);
    // background-size: contain;

    // .bannerImg  {
    //     // border: 2px inset #00ff00;
    //     // border: 20px inset #00ff00;

    //     // width: inherit;
    //     // height: inherit;

    //     opacity: 0.5;

    //     // margin: 0;
    //     // padding: 0;

    //     // position: absolute;

    //     // img {
    //     //     margin: 0;
    //     //     padding: 0;
    //     // }
    // }

    .logoBSPS {
        // border: 2px solid #ff0000;

        margin: 0;
        padding: 0;

        // opacity: 0.5;

        position: relative;
        // position: absolute;
    }

    .vendorTag {
        // border: 2px solid #ff00ff;
        // background: #ff0000;
        background: #ffffff;

        width: 70px;
        height: 12px;

        // opacity: 0.5;

        margin: 0 auto;
        padding: 5px 10px;
        // padding: 3px 10px 5px 10px;

        position: absolute;
        top: 0;
        right: 0;

        img {
            width: 85%;
        }
    }
}
